<%- include("header", {}) %>
<h1><%= title %></h1>
<p>Bienvenido a <%= title %></p>
<p>Tu tienda Online favorita. Todo lo que puedas necesitar ¡Siempre al mejor precio!</p>
<%- include("footer", {}) %>