<%- include("header", {}) %>
<h1><%= title %> Registro</h1>
<form method="post" action="/login">
    <label>Username:</label>
    <input type="text" id="user" name="user"><br>
    <label>Password:</label>
    <input type="password" id="pass" name="pass" minlength="8"><br>
    <label>Repeat Password:</label> 
    <input type="password" id="pass1" name="pass1" minlength="8">
    <button type="submit" onclick="passwordConfirmation()">Submit</button>
</form>
<script>
    function passwordConfirmation() {
            let password = document.getElementById("pass").value;
            let confirmPassword = document.getElementById("pass1").value;

            if(password.length < 8 || (confirmPassword.length < 8)){
                alert("Password must be 8 characters or more! Please change password");
            } else {
                
                if (password == confirmPassword) {
                    alert("Logged In");
                } else {
                    alert("Please make sure your passwords match.");
                }
        }
}
</script>
<%- include("footer", {}) %>